[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
boto3 = "*"
sendgrid = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.12"
